.my-list{
    margin: 0 auto;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    border: 1px solid #999999;
    background: #f7f381;
    box-shadow: 0 0 10px 2px #b3d4fc;
}

.my-list p{
    text-align: center;
}

.my-list ol{
    margin: 12px;
}
